*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --yellow: #ffcc29;
    --purple: #3b046ff5;
    --gray: #828799;
    --page-background: #f9fbfc;
    --title-pricing-color: #1E2338;
    
    
}
 
/* pricing table responsivo */
@media screen and (max-width: 600px) {
    .header h1 {
        width: auto;
        font-size: 32px;
    }

    .header p {
        font-size: 14px;
        width: auto;
    }
}

